<div class="bubble" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-filter"></span>
</div>
<!-- Modal -->
<div #modal class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Filter tandem partners</h4>
            </div>
            <div class="modal-body">
                <form>
                    <!--requested language-->
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="requested-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{partnerFilterCriteria.partnerOfferedLanguage}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="requested-language">
                            <li *ngFor="#requestedLanguage of getUserRequestedLanguages()"><a (click)="selectRequestedLanguage(requestedLanguage)" href="#">{{requestedLanguage}}</a></li>
                        </ul>
                    </div>

                    <!--offered language-->
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="offered-language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{partnerFilterCriteria.partnerRequestedLanguage}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="offered-language">
                            <li *ngFor="#offeredLanguage of getUserOfferedLanguages()"><a (click)="selectOfferedLanguage(offeredLanguage)" href="#">{{offeredLanguage}}</a></li>
                        </ul>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="searchPartners(modal)">Search</button>
            </div>
        </div>
    </div>
</div>