<div class="panel panel-default">
    <div class="panel-heading">Sign up to <b><i>Tandem</i></b></div>
    <div class="panel-body">
        <form [ngFormModel]="formGroup" novalidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" ngControl="username" class="form-control" id="username" placeholder="Username">
                <div *ngIf='controlUsername.dirty && controlUsername.errors' class="error-message">
                    <p *ngIf='controlUsername.errors.required'>
                        The username is required.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ngControl="password" class="form-control" id="password" placeholder="Password">
                <div *ngIf='controlPassword.dirty && controlPassword.errors' class="error-message">
                    <p *ngIf='controlPassword.errors.required'>
                        The password is required.
                    </p>
                </div>
            </div>
            <button type="button" class="btn btn-primary pull-right" (click)="onLogin()">Login</button>
        </form>
    </div>
</div>

