<div class="container">
    <ul class="nav nav-pills">
        <li *ngFor="#tab of tabs" role="presentation" [class.active]="isTabActive(tab.id)" [id]="tab.id">
            <a (click)="setSelectedTab(tab.id)" [routerLink]="['Profile', {tab: tab.id}]">{{tab.name}}</a>
        </li>
    </ul>

    <div>
        <profile-personal-info [is-active]="isTabActive('personal-info')"></profile-personal-info>
        <profile-languages [is-active]="isTabActive('languages')"></profile-languages>
        <profile-availability [is-active]="isTabActive('availability')"></profile-availability>
        <profile-locations [is-active]="isTabActive('locations')"></profile-locations>
    </div>
</div>
