.info-window {
    max-width: 330px;
    z-index: 30;
    position: absolute;
    background-color: white;
    box-shadow:5px 5px 5px #888888;
    border-radius: 10px;
    vertical-align:bottom;
    bottom: 10px;
    left:50%;
    margin-left: -115px;
    padding: 5px;
}