<div *ngIf="partner" class="info-window">
    <div class="row">
        <div class="col-xs-4">
            <img src="../img/profile-picture.jpg" alt="Profile picture">
        </div>
        <div class="col-xs-8">
            <h3>{{partner.username}}</h3>
            <p><b>Offers:</b> {{partner.offeredLanguages | ArrayJoinerPipe}}</p>
            <p><b>Learns:</b> {{partner.requestedLanguages | ArrayJoinerPipe}}</p>
            <p><a href="#" class="btn btn-default" (click)="closePartnerDetails()" role="button">Close</a> <a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#sendMessageModal">Send message</a></p>
        </div>
    </div>
</div>

<!-- Modal -->
<send-message-modal [selected-partner]="partner" ></send-message-modal>